.page {

background-image: url(../../assets/navigation-image.svg);
max-width:1440px;
max-height: 576px;
border: 1px; 
width: 100vw;
  height: auto;
  min-width: 1100px;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.page__content {
  height: auto;
  margin: 0 auto;
 
  min-width: 375px;
}