.author {
    max-height: 624px;
    max-width: 1440px;

display: flex;
padding-top:80px;
padding-bottom: 80px;
padding: 30px 104px ;
}

.author__image {
max-width: 464px;
max-height: 464px;
border-radius: 1000px;

}
.author__content {
    width: 600px;
    height:120px;
   
    font-weight: 400px;
    margin: 51px 0px 303px 56px;

}

.author__title {
    font-family: "RobotoSlab";
    font-size: 40px;

}

.author__description {
    font-family: "Roboto";
    font-size: 18px;

}