.navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	color: #ffffff;
}

.navigation__modal-container {
	max-width: 530px;
	background-color: #1a1b22;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0;
}

.navigation__header-logo {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	box-sizing: border-box;
	padding: 16px 16px 24px;
	margin: 0;
}

.navigation__close {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.navigation__close img {
	width: 24px;
	height: 24px;
}

.navigation__items {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 500;
	max-width: 530px;
	gap: 22px;
	margin: 0;
	padding: 16px 16px 24px;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.navigation__items-home {
	text-decoration: none;
}

.navigation__items-profile-news {
	text-decoration: none;
}

.navigation__items-home:visited {
	color: #ffffff;
}

.navigation__items-profile-news:visited {
	color: #ffffff;
}

.navigation__items-login {
	align-self: center;
}

.navigation__items-logging-button {
	display: flex;
	justify-content: center;
}
.navigation__items-logging {
	border-radius: 100px;
	width: 176px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	cursor: pointer;
	text-decoration: none;
}

.navigation__items-logging:visited {
	color: #ffffff;
}
