.news-cards__preloader-icon {
	display: block;
	border: 4px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: spin 0.75s infinite linear;
	margin-bottom: 24px;
	height: 74px;
	width: 74px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
