.header {
    color: white;
margin: 0;
padding: 0;
position: relative;
line-height: 0;
align-items: center;
line-height: 24px;
background-color: transparent;
z-index: 2;
position: absolute;
justify-content: space-between;
max-width: 1440px;
height: 80px;
width: 100%;
}

.header__container {
    padding: 30px 104px 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
    font-family: "RobotoSlab";
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 0;
  

}

.header__links {
    display: flex;
    align-items: center;
font-family: "Roboto";
font-weight: 500;
font-size: 18px;
}

.header__home-button {
    color: #FFFFFF;
    margin-right: 42px;
}

.header__sign-in-button {
    color: #FFFFFF;
    border-radius: 100px;
    width: 176px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #FFFFFF; 

}