.footer{
    max-width: 1440px;
    position: relative;
}
.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: 400px;
    align-items: center;
    margin: 0 104px;
    box-sizing: border-box;
}

.footer__text {
    font-size: 16px;
    line-height: 22px;
}

.footer__links {
display: flex;
align-items: center;
}

.footer__links-social{
    margin-left: 24px;
    height: 24px;
    width: 24px;
}

.footer__links-hyperlink-container{
    display: flex;
    align-items: center;
}
.footer__links-hyperlink {
    margin-right: 40px;
    font-size: 18px;

}

@media screen and (max-width: 1015px) {

.footer__container{
   margin: 20px 16px 16px;
}
.footer__links-hyperlink-container{
    width: 200px;
    height: 74px;
    display: flex;
    line-height: 48px;
}

.ooter__links-social-container {
    display: flex;
}

.footer__text {

}
}

@media screen and (max-width: 650px) {
    .footer__container{
        flex-direction: column-reverse;
    }
    .footer__links-hyperlink-container {
        display: flex;
        flex-direction: column;
    }
    .footer__links {
        width: 100%;
        justify-content: space-between;
    }


}