.footer{
    max-width: 1440px;
    height: 80px;

}
.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: 400px;
    align-items: center;
    margin: 0 104px;
}

.footer__text {
    font-size: 16px;
 
    line-height: 22px;
}

.footer__links {
display: flex;
align-items: center;

}

.footer__links-social{
    margin-left: 24px;
    height: 24px;
    width: 24px;
}

.footer__links-hyperlink {
    margin-right: 40px;
    font-size: 18px;

}