.news-card {
    background-color: pink;
display: flex;
 flex-direction: column;
}

.news-card__container {
    background-color: blue;
border: 1px solid ;
max-width:400px;
max-height: 272px;
display: flex;
flex-direction: column;
}

.news-card__image{
    width: 400px;
    height: 272px;
    /* object-fit: scale-down; */
}

.news-card__text-container {
    max-width:400px;
height: 272px;
background-color: greenyellow;
}