.news-cards__list {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
gap:16px;
  margin:0;
  padding: 0;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

.news-card {
    background-color: #FFFFFF;
list-style-type: none;
 height: 576px;
 width: 400px;
 border-radius: 16px;
 display: flex;
  flex-direction: column;
  position: relative;
}

.news-cards__title {
    font-weight: 400;
}

.news-card__container {
max-width:400px;
height: 272px;

display: flex;
flex-direction: column;
/* gap: 16px; */
flex-grow: 1;

}

.news-card__header {
    position: absolute;
    width: 400px;
     padding: 24px 24px 0;
     display: flex;
justify-content: flex-end;
box-sizing: border-box;
top: 0;
  right: 0;
}
     

.news-card__save-button {
    width: 40px;
    height:40px;
}

.news-card__save-button:hover {

}


.news-card__header:hover .news-card__sign-to-save-button {
    visibility: visible;
    opacity: 1;
  }
   
.news-card__sign-to-save-button {
width: 182px;
height: 40px;
background-color: #FFFFFF;
border-radius: 10px;
border: none;
margin-right: 5px;
visibility: hidden;
}



.news-card__image{
    max-width: 400px;
    max-height: 272px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.news-card__text-container {
font-family: "RobotoSlab";
max-width:400px;
/* height: 272px; */
margin: 0px 24px 24px;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-grow: 1;

}

.news-card__title {
font-size: 26px;
line-height: 30px;
font-weight: 400;

padding: 0;
}

.news-cards__title {
    font-family: "RobotoSlab";
    font-size: 40px;
    font-weight: 400px;
    max-width:712px;
    max-height:46px;
    padding: 0;
    margin: 0 0 64px;


}

.news-card__description {
    font-family: "Roboto";
    max-width: 352px;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
   
}

.news-card__date {
    font-family: "SourceSans3"; /* via google fonts - cannot locate Source sans pro font ? */
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.news-card__category {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin-top: auto;

}